LoLUpdater/obj/*
LoLUpdater/bin/*
LoLUpdaterXP/obj/*
LoLUpdaterXP/bin/*
LoLUpdaterInstaller/bin/*
LoLUpdaterInstaller/obj/*
LoLUpdater.sln.ide
LoLUpdaterXP.sln.ide
LoLUpdaterInstaller.sln.ide
*.user
*.suo