</main>
<div id="outer_footer">

<footer class="container">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- BETA2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7729264535"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


  Contributors:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input name="cmd" value="_s-xclick" type="hidden">
    <input name="hosted_button_id" value="MX9EF8CHEGLNG" type="hidden">
    <input src="/img/donate.png" alt="" type="image">
  </form>
</footer>
</div>
<script async src="/js/main.js"></script>
<script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-50835694-1');ga('send','pageview');</script>
</body>
</html>
